<nav>
    <div class="nav-logo">
        <div><a ng-click="vm.goto('/')"><img src="images/scale3-transparent-128.png" class="img-responsive"></img></a></div>
        <div><a ng-click="vm.goto('/')">Scale</a></div>
    </div>
    <div class="nav-section">
        <div class="nav-link" ng-class="{overview: 'selected'}[vm.activePage]"
            ng-click="vm.goto('/')">
            Overview
        </div>
    </div>
    <div class="nav-section">
        <div class="nav-link" ng-class="{configuration: 'selected'}[vm.activePage]"
            ng-click="vm.goto('/configuration')">
            Configuration
        </div>
    </div>
    <div class="nav-section">
        <div class="nav-link" ng-class="{processing: 'selected'}[vm.activePage]"
            ng-click="vm.goto('/processing')">
            Processing
        </div>
    </div>
    <div class="nav-section">
        <div class="nav-link" ng-class="{metrics: 'selected'}[vm.activePage]"
             ng-click="vm.goto('/metrics')">
            Metrics
        </div>
    </div>
    <div class="nav-section">
        <div class="nav-link" ng-class="{data: 'selected'}[vm.activePage]"
             ng-click="vm.goto('/data')">
            Data
        </div>
    </div>
    <div class="nav-section">
        <a class="nav-link" href="{{ vm.docsUrl }}" target="_blank">
            Docs <i class="fa fa-external-link"></i>
        </a>
    </div>
    <div class="nav-section">
        <div class="text-center margin-top-lg">v{{ vm.version }}</div>
    </div>
</nav>
